.hero-section{
margin-top:1.4rem;
display: flex;
/* flex-wrap: wrap; */
}
.hero-heading{
font-size:48px;
}
.hero-left{
width:694px;
}
.hero-detail{
display: flex;
flex-direction: column;
gap: 20px;
}
.gray-color{
font-size:18px;
color:#62626A;
}
.hero-left button{
background-color: #463ACB;
padding:10px 40px;
font-size: 18px;
color:#F8FAFC;
box-shadow: 0px 0px 10px 2px #6366f180;
border: none;
}
.para-color{
color:#18181B;
}
.font-semibold{
font-weight: 600;
}
.hero-container{
border:1px solid #4f029c;
border-radius:0.5rem;
width: 60%;
height:84px;
display: flex;
column-gap:20px;
justify-content: center;
align-items: center;
}

.font-hero-container{
font-size: 14px;
color: #62626A;
}

.hero-right{
width:50%;
background-color: #FEF4FF;
}

.hero-card-img img{
margin:0 auto;
}

.company-logo{
width:120px;
}

.hero-card{
height:391px;
width:94% !important;
margin:10px 20px;
box-shadow: 0px 1px 4px rgba(0,0,0,0.16);
border-radius:10px;
text-align: center;
background-color: #FFFFFF;
}

.hero-card-img{
margin-top:20px;
}

.hero-card-content{
display: flex;
flex-direction: column;
row-gap:14px;
align-items: center;
}

.hero-font{
font-size:12px;
color: #62626A;
}


@media (min-width:320px) and (max-width:550px){
.font-hero-container {
        font-size: 12px;
    }

   .hero-container-heading{
   font-size: 18px;
   }

   .hero-container{
   width:284px;
   height:96px;
   }
  
  .hero-heading{
  font-size:30px;
  }
}

@media (min-width:320px) and (max-width:766px){
.hero-section{
flex-wrap:wrap;
}
.hero-right{
width:100%;
}
}

@media (min-width:768px) and (max-width:960px){
.hero-container{
width:75%;
}
}