.faqs-cards{
display:flex;
flex-wrap:wrap;
justify-content: space-between;
gap:1.5rem;
}

.faqCard{
background-color: #effffb;
border: 1px solid hsl(162 95% 34%);
display:flex;
height:fit-content;
width:46%;
justify-content:space-between;
align-items: baseline;
gap:10px;
padding:1rem;
color:#18181B;
border-radius:0.75rem;
}

.faq-text{
font-size:1.125rem;
line-height:1.75rem;
font-weight:500;
}

.plus-icon{
border:1px solid hsl(162 95% 34%);
border-radius:0.45rem;
padding:0.4rem;
cursor:pointer;
transition:0.5s;
}

.plus-icon:hover{
background-color:#04A978 !important;
}

.plus-icon:hover .plus-hover{
color:#FFFFFF !important;
}

.faq-answer{
margin-top:0.45rem;
display: none;
}

@media (min-width:320px) and (max-width:760px){

.faqCard{
width:100%;
}

}